/* tagname|classname|id */

body{
    background-color: black;
}
#first{
    color:#38a2b5;
}
.item{
    color:blue;
    text-decoration: underline;
    text-decoration-color: white;
}
.item2{
    color:white;
    /* text-decoration: line-through;
    */
    /*text-decoration: underline;
    */
    text-decoration: overline;
    text-decoration-color:white ;
}
/*.web{
    color:blue
}
.web2{
    color:aqua
}
*/
.list-item {
    color:green
}
.list-item li{
    text-decoration: underline;

}
/*.main-head h1{
    color:aqua
} */
.main-head h1:nth-child(1){
    color:aqua
}
.main-head h1:nth-child(2){
    color:rgb(116, 43, 226);
}